{erl_opts, [debug_info]}.

{profiles, [
  {test,   [
    {deps, [ 
      {katana_test, {git, "https://github.com/inaka/katana-test.git"}},
      {mixer, {git, "https://github.com/inaka/mixer.git"}}
    ]}
  ]}
]}.

{deps, [
  {fast_yaml, {git, "https://github.com/processone/fast_yaml.git"}},
  lager
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [fast_yaml, sde_server]}
]}.
